.paket/
!.paket/*.{props,proj,targets}
node_modules/
.vs/
.tools/
bin/
obj/
build/
*.user
/src/Website/css/all*.css*
/src/Website/js/
paket-files/
packages/
src/Website/docs/reference/

.fake
.ionide
.idea/
.fsdocs/
