source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget bolero
nuget FSharp.Core
nuget BuildWebCompiler
nuget Markdig
nuget WebSharper
nuget WebSharper.FSharp
nuget WebSharper.UI