source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget
storage: none
framework: netstandard2.0

nuget bolero prerelease
nuget FSharp.Core
nuget BuildWebCompiler
nuget Markdig
nuget WebSharper
nuget WebSharper.FSharp
nuget WebSharper.HighlightJs
nuget WebSharper.UI
nuget DotLiquid
nuget YamlDotNet

group refdoc
source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget
storage: packages
framework: netstandard2.0, netstandard2.1, netcoreapp3.1

nuget FSharp.Formatting prerelease
nuget Bolero prerelease
nuget Bolero.Server prerelease
