source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget
storage: none
framework: netstandard2.0

nuget bolero
nuget FSharp.Core
nuget BuildWebCompiler
nuget Markdig
nuget WebSharper
nuget WebSharper.FSharp
nuget WebSharper.HighlightJs
nuget WebSharper.UI
nuget DotLiquid
nuget Newtonsoft.Json
nuget YamlDotNet